
// Find Holistic care

.find-holistice{
    margin-top: 150px;
}

.find-holistic-img-group{
    position: relative;

    .img-1{
        border-radius: 20px;
        border: 2px solid $border;
        width: max-content;
        padding: 20px;
        float: right;
        margin-right: 50px;
        background-color: $white;
        position: relative;
        z-index: 3;
    }

    .img-2{
        position: absolute;
        top: 200px;
        right: 45%;
        border-radius: 20px;
        z-index: 4;
    }

   
    .ractangle-dot{
        position: absolute;
        right: 0;
        top: -50px;
        
    }
    .shape-triangle{
        position: absolute;
        right: -50px;
        bottom: 80px;
    }
}



.care-item{
    border: 1px solid $border;
    border-radius: 10px;
    padding: 30px 60px;
    width: 520px;
    position: relative;
    transition: all 0.3s;
    margin-bottom: 40px;

    &:last-child{
        margin-bottom: 0;
    }

    h4{
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        color: $black;
        margin-bottom: 10px;
    }

    .number{
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        color: $black;
        border: 1px solid $border;
        border-radius: 10px;
        padding: 10px 15px;
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
    }

    &:hover{
        border-color: $primary;
        .number{
            background-color: $primary;
            color: white;
        }
    }
}
