
// Latest listing section

.listing-area{
    margin-top: 150px;

    @include lg{
        margin-top: 120px;
    }
    @include md{
        margin-top: 100px;
    }
    @include sm{
        margin-top: 80px;
    }
}

.listing-item{
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 20px;
    background-color: $white;
    transition: all 0.3s;

    @include xxs{
        padding: 15px;
    }

    &-content{
        padding: 20px 20px 20px;

        @include sm{
            padding: 15px;
        }
        @include xxs{
            padding: 0px;
        }

        .title-stars{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4{
                font-weight: 600;
                font-size: 26px;
                line-height: 34px;
                color: $black;
                transition: all 0.3s;

                @include xl{
                    font-size: 24px;
                }

                &:hover{
                    color: $primary;
                }
            }

            .stars{
                margin-bottom: 0;
                i{
                    color: $star;
                }
            }

        }

        p{
            margin-top: 10px;
        }

        .location,
        .clock{
            display: flex;
            align-items: center;
            gap: 10px;

            p{
                margin-top: 0;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .location{
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .read-more{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;

            .contact-list{
                display: flex;
                gap: 10px;
                a{
                    i{
                        margin-left: 0;
                    }

                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background-color: #F9F9F9;
                    font-size: 18px;
                    color: $primary;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s;
                    position: relative;
                    bottom: 0;

                    &:hover{
                        background-color: $primary;
                        color: white;
                        bottom: 5px;
                    }

                }
            }
        }
    }

    figure{
        position: relative;
        overflow: hidden;
        border-radius: 20px;

        img{
            width: 100%;
            transition: all 0.3s;
        }
    }
    .service-tag{
        position: absolute;
        top: 20px;
        left: -150px;
        background-color: $white;
        border-radius: 20px;
        padding: 5px 20px;
        transition: all 0.5s;

        h4{
            font-weight: 500;
            font-size: 12px;
            line-height: 28px;
            color: $black;
        }
    }
    .popular-tag{
        position: absolute;
        top: 20px;
        right: -10px;
        background-color: $primary;
        border-radius: 20px;
        padding: 5px 25px;
        transition: all 0.5s;

        h4{
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: $white;
        }
    }

    .user{
        display: flex;
        align-items: center;
        gap: 15px;
        position: absolute;
        bottom: 24px;
        left: 20px;

        @include xs{
            bottom: 15px;
            left: 15px;
        }
        img{
            border-radius: 50%;
            object-fit: cover;
            height: 50px;
            width: 50px;
        }
        h4{
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: $white;
        }
    }

    &:hover{
        border-color: $primary;

        figure{
            img{
                transform: scale(1.05);
            }
        }

        .service-tag{
            left: 20px;
        }
    }
}
.layout_view{
    .listing-item{
    @include flex(row, flex-start, center);
    }
}