
// More Info area start

.more-info{
  background-image: url("../imgs/more-info/more-info.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 645px;
  display: flex;
  align-items: center;
  margin-top: 150px;
   @include lg{
        margin-top: 120px;
    }
    @include nesthubmax{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include nesthub{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include md{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include sm{
        margin-top: 80px;
    }
  .row{
    &.style_1{
      gap: 30px;
    }
  }

  .section-title{
    color: $white;

  }
  p{
    color: $white;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .info-content{
    width: 580px;
  }
  .info-img {
    text-align: right;
  }
}