
// Testimonial area start

.testimonial-area{
    background-color: #F9F9F9;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;

    .leaf-tree{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.testimonial-item{
    border: 1px solid $border;
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
     box-shadow: 0px 5px 60px 0px #0000000D;
     position: relative;
     z-index: 4;


    .content-area{
        background-color: $white;
        padding: 40px 40px 60px;
        box-shadow: 0px 5px 60px 0px #0000000D;

    }

    .author-details{
        background-color: transparent;
        padding: 0 40px 40px;
        img{
            border-radius: 50%;
            margin-top: -30px;
        }
        h4{
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: $black;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}

.stars{
    margin-bottom: 25px;
    i{
        color: $star;
        margin-right: 5px;
    }
}

.slider-controller{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 90px;
    
    .fraction{
        font-weight: 600;
        font-size: 18px;
        width: auto;
    }
}