.service_details_area{
    .sidebar{
        .categoriy_widget{
            border-radius: 30px;
            border: 1px solid $border;
            padding: 40px;
            ul{
                @include flex(column, flex-start, flex-start);
                gap: 30px;
                li{
                    width: 100%;
                    a{
                        border: 1px solid $primary;
                        border-radius: 30px;
                        border-radius: 999px;
                        padding: 12px 30px;
                        display: block;
                        @include flex(row, space-between, center);
                        font-weight: 400;
                        font-size: 17px;
                        color: $text;
                        width: 100%;
                        @include transition(0.4s);
                        span{
                            @include transition(0.4s);
                            font-weight: 400;
                            font-size: 17px;
                            color: $text;
                        }
                        &:hover{
                            background-color: $primary;
                            color: $white;
                            span{
                                color: $white;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    .service_contains{
        .image_area{
            @include border-radius(20px);
            width: 100%;
            height: 516px;
            img{
                @include border-radius(20px);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h2{
            font-weight: 600;
            font-size: 50px;
            letter-spacing: -0.03em;
            text-transform: capitalize;
            color: $black;
        }
        h3{
            font-weight: 600;
            font-size: 35px;
            letter-spacing: -0.03em;
            color: $black;
        }
        .describtion{
            p{
                font-weight: 400;
                font-size: 17px;
                color: $text ;
            }
        }
        .list_area{
            ul{
                @include flex(column, flex-start, flex-start);
                gap: 18px;
                li{
                    font-weight: 500;
                    font-size: 18px;
                    color: $black;
                    span{
                        margin-right: 15px;
                        color: $primary;
                    }
                }
            }
        }
    }
}